.oculto {
  background: #86efac;
  width: 800px;
  height: 50px;
  padding: 10px;
  border: 1px solid;
  align-content: center;
  justify-content: center;
}

.ampliado {
  background: #86efac;
  width: 800px;
  height: 300px;
  padding: 10px;
  border: 1px solid;
  align-items: center;
  justify-content: center;
}

.columnas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  align-items: center;
  justify-content: center;
}

.left {
  padding-right: 625px;
}

.espacio{
  justify-items: end;
}

button {
  background-color: #86efac;
  color: black;
}

button:active {
  background-color: black;
  color: #86efac;
}

button.Mostrar_mas {
  background-color: green;
  color: white;
}

button.Mostrar_mas:active {
  background-color: white;
  color: black;
}

button.Mostrar_menos{
  background-color: red;
  color: white;
}

button.Mostrar_menos:active {
  background-color: white;
  color: black;
}